
body{
    position: relative;
    min-height: 100vh;
    background-color: rgb(28, 27, 27);
    overflow: hidden;
    width: 240px;

    
      
  
}

.sidebar{

    position: fixed;
    top: 10vh;
    left: 0;
    height: 90%;
    width: 70px;
    background: rgb(0, 0, 0);
    padding: 6px 14px;
    transition: all 0.5s ease;
}
@media only screen and (max-width: 600px) {
    .sidebar {
      width: 50px;
   
    }
  }

.active{
    width: 200px;
    
   
}
.control{
    font-size: 1.5rem;
}
.trophy{
    font-size: 1.3rem;
}

.sidebar .logo-content .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
 
}

.active .logo-content .logo{
    opacity: 1;
    pointer-events: none;
}
.logo-content .logo .oculos {
    font-size: 20px;
    margin-right: 1px
}

.logo-content  .logo .logo-name{
    font-size: 15px;
    font-weight: 400;
    margin-left: 1rem;
    
}
#btn{
    position: absolute;
    color: #fff;
    left: 50%;
    top: 6px ;
    font-size: 0px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 60px;
    transform: translateX(-50%);   
    
}
@media only screen and (max-width: 600px) {
    #btn{
       top: 10px;
     }
   }

.active #btn {
    left: 85%;
}

.ul{
    margin-top: 1vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80vh;
    align-items: center; 
    width: 100px;
    margin-left: -30px;
    
}


@media only screen and (max-width: 600px) {
    .ul{
        display: flex;
        flex-direction: column;
        height: 80vh;
        justify-content: space-around;
        margin-left: -2.5rem; 
     }
   }

.ul{
    text-align: center;
}

.sidebar ul li{

    position: relative;
    height: 50px; 
    width: 100% ;
    margin: 0 5px;
    list-style: none;
    line-height: 50px ;
    margin-top: 1.5vh;
}
   
.sidebar ul li a{
   
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}

.sidebar ul li a:hover{
    color: black;
    background: #fff;
   width: 10rem;
    
}

.sidebar ul li i {
    height: 45px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;

}

.sidebar ul li .tooltip{
    position: absolute;
    left: 122px;
    top: 50%;
    transform: translate(-50% , -50%);
    border-radius: 6px;
    height: 35px;
    width: 100px;
    background: rgb(138, 128, 128);
    line-height: 35px ;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
}

.active ul li .tooltip{
    display: none;
}

.sidebar ul li:hover .tooltip{
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
}

.links-name{
    opacity: 0;
    pointer-events: none;
}

.active .links-name{
    opacity: 1;
    pointer-events: auto;
}
.creators{
    font-size: 2.5rem;
}
.random{
    font-size: 1.4rem;
}

@media only screen and (max-width: 600px) {
    .control{
        font-size: 1.8rem;
     }
     .random{
        font-size: 1.6rem;
    }
   
    .trophy{
        font-size: 1.6rem;
    }
    .links-name{
        font-size: 1rem;
    }
    .nintendo{       
        font-size: 1.3rem;
    }
    .tooltip{
        font-size: 1rem;
    }
    .active ul li .tooltip{
        font-size: 1rem;
    }
  
    
   }
